



@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&family=Space+Mono&display=swap');

*{
    --champagne-pink: #eddcd2ff;
    --linen: #fff1e6ff;
    --misty-rose: #fde2e4ff;
    --mimi-pink: #fad2e1ff;
    --powder-blue: #c5deddff;
    --mint-cream: #dbe7e4ff;
    --isabelline: #f0efebff;
    --alice-blue: #d6e2e9ff;
    --beau-blue: #bcd4e6ff;
    --pale-cerulean: #99c1deff;
}


body, html {
    background-color: var(--champagne-pink);
    height: 100%;
    width: 100%;
}

h1 {
    
    color: cornflowerblue ;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    text-align: center;
    font-weight: bolder;
                 
}

#click-me {

    
    background-color: var(--mimi-pink);
    margin: 10px
    
}

h2 {
    text-align: center;
    font-size: larger;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    
}




.important { 
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
}

.coffee-beans {
    width: min-content;
    height: 10cm;
    
}

.RT{
    font-size: larger;
    font-weight: bolder;
}